server:
  port: 8080
  mode: debug

database:
  host: localhost
  port: 3306
  user: root
  password: "password"
  dbname: blog

redis:
  host: localhost
  port: 6379
  password: ""
  db: 0

jwt:
  secret: "misono mika"